@import "./colors.scss";
@import "./variables.scss";
@import "./mixins.scss";
.banner {
  position: relative;
  height: 250px;
  @include tablet {
    height: 450px;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .banner-title {
    position: absolute;
    inset: 0;
    background-color: rgba(#000, 0.75);
    display: flex;
    align-items: center;
    width: 100%;
    &--inner-wrapper {
      flex: 1;
      h1,
      h2 {
        color: #fff;
        margin-bottom: 0;
      }
      h1 {
        font-size: 1.6rem;
      }
      h2 {
        font-size: 1.2rem;
      }
      @include tablet {
        h1 {
          font-size: 2.6rem;
        }
        h2 {
          font-size: 1.6rem;
        }
      }
    }
  }
}
